<header>
  <h1>FunkyRobot - Employees list</h1>
</header>

<section class="section-highlight">
  <ul class="employees-highlight">
    <li class="employee-card"
        *ngFor="let employee of selectedEmployees"
        data-id="{{employee.id}}"
        [@highlightPosition]="getPosition(employee)">
      <img class="big-avatar"
           src="{{employee.image}}"
           alt="Picture of {{employee.first_name}} {{employee.last_name}}">

      <div class="employee-details">
        <p class="employee-name">
          {{employee.first_name}} {{employee.last_name}}
        </p>
        <a class="employee-email" href="mail:{{employee.email}}">
          {{employee.email}}
        </a>
        <p>
          <span class="employee-label">Department:</span> {{employee.department}}
        </p>
        <p>
          <span class="employee-label">Position:</span> {{employee.job_title}}
        </p>
      </div>
    </li>
  </ul>
</section>

<section class="section-list">
  <ul class="employees-list">
    <li class="employee-element"
        *ngFor="let employee of employees"
        [class.highlight]="employee === selectedEmployees[0]"
        (click)="onSelect(employee)">
      <img class="small-avatar"
           src="{{employee.image}}"
           alt="Picture of {{employee.first_name}} {{employee.last_name}}">
      <p class="employee-name">
        {{employee.first_name}} {{employee.last_name}}
      </p>
    </li>
  </ul>
</section>
