$shadow-color: #d4d4d5;
$avatar-background-color: #2b4c65;

$employee-card-size: calc(100% / 3 - 16px);

$screen-small: 600px;
$screen-medium: 1024px;
$screen-large: 1440px;

.section-highlight {
  flex: 1 1 auto;
}

.employees-highlight {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  overflow: hidden;

  .employee-card {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    background: #fff;
    margin: 16px 8px;
    padding: 0;
    border-radius: 4px;
    border: 1px solid $shadow-color;
    box-shadow: -2px 2px 4px $shadow-color;
    box-sizing: border-box;

    .big-avatar {
      width: 100%;
      background-color: $avatar-background-color;
    }

    .employee-details {
      flex: 1 0 150px;
      border-top: 1px solid rgba(34,36,38,.1);
      margin: 0;
      padding: 1em 0.5em;
      font-size: 1em;
      border-radius: 0;
      color: rgba(0,0,0,.68);

      .employee-name {
        display: block;
        margin: 0;
        font-size: 1.2em;
        font-weight: bold;
        overflow-wrap: break-word;
      }

      .employee-email {
        font-size: 1em;
        opacity: 0.4;
        margin: 0;
        overflow-wrap: break-word;
        text-decoration: none;
      }

      .employee-label {
        font-weight: bold;
        opacity: 0.85;
      }
    }
  }

  @media screen and (min-width: $screen-small) {
    flex-wrap: nowrap;

    .employee-card {
      flex: 0 0 $employee-card-size;
      max-width: $employee-card-size;
    }
  }

  @media screen and (min-width: $screen-medium) {
    .employee-card {
      flex-direction: row;

      .big-avatar {
        flex: 0 0 150px;
        max-width: 150px;
      }

      .employee-details {
        flex: 1 1 auto;

        .employee-label {
          display: block;
        }
      }
    }
  }

  @media screen and (min-width: $screen-large) {
    .employee-card {
      .big-avatar {
        flex: 0 0 200px;
      }
    }
  }
}
