$avatar-size: 100px;
$avatar-background-color: #a7c9c9;
$avatar-border-color: #00767e;
$avatar-active-background-color: $avatar-border-color;
$avatar-active-border-color: $avatar-background-color;

$shadow-color: #d4d4d5;

header {
  flex: 0 0 64px;
  line-height: 64px;
}

h1 {
  text-align: center;
  margin: 0;
}

.section-list {
  flex: 1 1 auto;
  overflow: auto;
  box-shadow: 0px 0px 4px $shadow-color;
}

.employees-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .employee-element {
    text-align: center;
    flex: 1 0 $avatar-size;
    padding: 0 8px;
    cursor: pointer;

    .small-avatar {
      width: $avatar-size;
      height: $avatar-size;
      border-radius: 50%;
      background-color: $avatar-background-color;
      border: 3px solid $avatar-border-color;
      box-shadow: -2px 2px 4px $shadow-color;
      box-sizing: border-box;
      display: block;
      margin: auto;
    }

    .employee-name {
      margin-top: 0;
      padding: 0 8px;
      font-size: 0.8em;
    }

    &.highlight {
      .small-avatar {
        background-color: $avatar-active-background-color;
        border-color: $avatar-active-border-color;
      }
    }
  }
}
